<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eliminación de producto</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body>
  <h1>¿Estás seguro que deseas eliminar el producto {{ inventario.id_inventario }}?</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Eliminar">
    </form>
</body>
</html>